/*
Color Code:
    Blue: #0f70b8
    Alternative Blue: #6ea097;
    Orange: #e28824;
    Gray: #878786;
    Off-White: #f7f8ea;
    Light-Gray: #cacaca;
*/

body {
    background-color: #f7f8ea;
    border: 3vmin solid #6ea097;
    /*height: 100vh; */ /* Add this again later! Keep body height to screen height */
    height: 100%;
    padding: 0;
}

h1 {
    color: pink;
}

h2 {
    color: blue;
}

#MainWindow {
    margin: 0;
    padding: 0;
    color: black;
    width: calc(100vw - 6vmin);
    /*height: calc(100vh - 6vmin);*/ /* Add this again later! Keep body height to screen height */
    height: 100%;
    padding-right: 3vmin;
    padding-left: 3vmin;
    /*overflow: hidden; */ /* Add this again later! Unscrollable homepage */
}

.KencefButton {
    color: #f7f8ea;
    border: 0px;
    background-color: #6ea097;
    
    position: absolute;

    border-radius: 80px;
    letter-spacing: 0.1em;

    font-family: sans-serif;
    font-weight: 400;
    text-align: center;

    text-transform: uppercase;
}

button.KencefButton:hover,
button.KencefSubButton:hover {
    cursor: pointer;
}

#SubButtons {
    background-color: #b8b9b2;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 36%;
    width: 90%;
}

#SubButtons:after {
    content:'';
    position: relative;
    top: -100%;
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 10px #b8b9b2;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

#SubButtons[cursor_pos='left']:after {
    left: auto;
    right: 38%;
}

#SubButtons[cursor_pos='right']:after {
    left: auto;
    right: -38%;
}

/*#MainButtons {
    width: 100%;
    height: 100%;
}*/

.row {
    height: 100%;
}

.ButtonRow {
    height: 50%;
}

button.Special {
    background-color: #e28824;
}

#KencefLogo {
    width: auto;
    height: auto;

    max-width: calc(80vw - 6vmin);
    max-height: calc(50vh - 3vmin);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmin;
}

.TextDiv {
    font-size: calc(8px + 0.5vmax);
    text-align: justify;
}

.TextDiv > .col-6 {
    padding: 0 40px;
}

.ContentImage {
    border: 5px solid #e28824;
    border-radius: 5vmin;
}

.HalfDiv {
    min-height: 50%;
}

/* Portrait */
@media screen and (orientation:portrait) {
   /* Portrait styles here */
    .BottomZone {
        height: calc(30vh - 3vmin);
        display: flex;
        justify-content: center;
    }

    .KencefButton.Intro {
        width: 60%;
        height: 35%;
        top: 20%;
        font-size: 4.0vw;
    }

    .KencefButton.Special.Intro {
        font-size: 4.5vw;
        width: 70%;
        height: 42%;
    }

    #KencefKid {
        width: 12vmin;
        position: absolute;
        /* Button is 70% wide. 15% width remains in each side*/
        left: 15%;
        /* 40% is position of sepcial button, minus a percentage of the pictures height. Height = width * 1.0812 */
        top: calc(20% - ((12vmin * 1.0812) / 1.1));
        transform: rotate(-15deg);
    }

    #top_div {
        height: 10%;
    }

    .buttonCol {
        padding-left: 0;
        padding-right: 0;
    }

    .buttonCol:first-of-type {
        padding-left: 15px;
    }

    .buttonCol:last-of-type {
        padding-right: 15px;
    }

    .buttonCol {
        padding-left: 0;
        padding-right: 0;
    }

    #bottom_div {
        height: 90%;
        padding: 3%;

        overflow-y: auto;
        overflow-x: hidden;
    }

    .KencefButton.small {
        width: 90%;
        height: calc(6.8vmin - 0.375vmin);
        font-size: 2.5vw;
        margin-top: 2vmin;
        /*margin-left: 1vmin;*/
        top: 0;

        margin-left:auto;
        margin-right:auto;
        display:block;
        position: relative;
    }

    .KencefSubButton {
        color: #f7f8ea;
        border: 0px;
        background-color: #6ea097;
        
        position: relative;

        border-radius: 80px;
        letter-spacing: 0.1em;

        font-family: sans-serif;
        font-weight: 400;
        text-align: center;

        width: 70%;
        height: calc(5.8vmin - 0.375vmin);
        font-size: 1.5vw;
        /*margin-left: 1vmin;*/
        top: 0;

        margin-left:auto;
        margin-right:auto;
        display:block;

        text-transform: uppercase;
    }

    #KencefLogo.small {
        max-height: 70%;
        max-width: 85%;
        margin-top: 10px;

        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
   /* Landscape styles here */

    .BottomZone {
        height: calc(50vh - 3vmin);
        display: flex;
        justify-content: center;
    }

    .KencefButton.Intro {
        width: 60%;
        height: 28%;
        top: 10%;
        font-size: 3.0vw;
    }

    .KencefButton.Special.Intro {
        font-size: 3.5vw;
        width: 70%;
        height: 32%;
        top: 40%;
    }

    #KencefKid {
        width: 10vmin;
        position: absolute;
        /* Button is 70% wide. 15% width remains in each side*/
        left: 15%;
        /* 40% is position of sepcial button, minus a percentage of the pictures height. Height = width * 1.0812 */
        top: calc(40% - ((10vmin * 1.0812) / 1.1));
        transform: rotate(-15deg);
    }

    #top_div {
        height: 18%;
    }

    #bottom_div {
        height: 82%;
        padding: 3%;

        overflow-y: auto;
        overflow-x: hidden;
    }

    .buttonCol {
        margin-top: 6px;
        padding-right: 6px;
        padding-left: 6px;
    }

    .KencefButton.small {
        width: 70%;
        height: calc(6.8vmin - 0.375vmin);
        font-size: 1.5vw;
        margin-top: 2vmin;
        /*margin-left: 1vmin;*/
        top: 0;

        margin-left:auto;
        margin-right:auto;
        display:block;
        position: relative;
    }

    .KencefSubButton {
        color: #f7f8ea;
        border: 0px;
        background-color: #6ea097;
        
        position: relative;

        border-radius: 80px;
        letter-spacing: 0.1em;

        font-family: sans-serif;
        font-weight: 400;
        text-align: center;

        width: 70%;
        height: calc(5.8vmin - 0.375vmin);
        font-size: 1.5vw;
        /*margin-left: 1vmin;*/
        top: 0;

        margin-left:auto;
        margin-right:auto;
        display:block;

        text-transform: uppercase;
    }

    .ButtonRow .buttonCol .KencefSubButton.left {
        margin-left: 0;
    }

    .ButtonRow .buttonCol .KencefSubButton.right {
        margin-right: 0;
    }

    #KencefLogo.small {
        max-height: 70%;
        max-width: 85%;
        margin-top: 10px;

        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}